{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Profile</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<div class="container">
    
    <!-- Profile Image -->
    <img src="https://media.easy-peasy.ai/4e600a82-8aac-4abb-95cd-f87cc9125a0f/18ea5802-d34e-4fbb-91e2-99baebb2eac9_medium.webp" class="profile-img">

    <!-- Doctor Name -->
    <h2>Dr. Raj Patel</h2>
    <p>Cardiologist</p>

    <!-- Info Section -->
    <div class="info">
        <div><strong>Experience:</strong> 10 Years</div>
        <div><strong>Email:</strong> rajpatel@gmail.com</div>
        <div><strong>Phone:</strong> 91 9876543210</div>
    </div>

    <button class="btn">Book Appointment</button>

</div>

</body>
</html>